:root,[data-theme="Green"] {
    --bg: rgb(131, 146, 116);
    --bgimg: url("../images/bg_1.png");
    --layout: url("../images/frame2.png");
    --text: rgb(206, 208, 185);
    --accent: rgb(105, 121, 89);
    --extra: rgb(87, 100, 73);
  }
  
* {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    scrollbar-width: thin;
    scrollbar-color: var(--bg) var(--accent);
    font-family:'monocraft', verdana, sans-serif;
}
  
h1, h2, h3, p, li {
  color: var(--text);
}
  
p, li {
  font-size: 18px;
}
  
  
@font-face{
  font-family: 'monocraft';
  src: url(../fonts/Monocraft.ttf);
}
  
  
.index{
  position: relative;
  background-color: var(--bg);
  background-image: var(--bgimg);
}
  
.layout{
  position: relative;
  background:var(--layout);
  background-repeat:no-repeat;
  width:1250px;
  height:1000px;
  margin:10px auto;
  overflow:hidden;
  text-align: center;
}

#header {
  position: absolute;
  width:988px;
  height:232px;
  top: 22px;
  left:131px;
}

#marquee {
  color: var(--accent);
  position: absolute;
  width: 428px;
  height: 28px;
  bottom: 11px;
  left: 280px;
}

#marqLink {
  width:428px;
  height:28px;
  text-decoration:none;
  color: var(--accent);
}

#marq {
  width:428px;
  height:28px;
}

#mText {
  height: 28px;
  line-height: 28px;
}

#leftTitDiv {
  position: absolute;
  width: 162px;
  height:21px;
  bottom:4px;
  left:3px;
}

#leftTit {
  color: var(--accent);
  line-height:20px;
  position: absolute;
  width: 162px;
  height: 21px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#rightTitDiv {
  position: absolute;
  width: 162px;
  height:21px;
  bottom:4px;
  right:3px;
}

#rightTit {
  color: var(--accent);
  line-height:20px;
  position: absolute;
  width: 162px;
  height: 21px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#left {
  position: absolute;
  width:162px;
  height:496px;
  top: 254px;
  left:134px;
}

#center {
  position: absolute;
  width:625px; 
  height:500px;
  top: 250px;
  left: 312px;
}

#right {
  position: absolute;
  width:162px;
  height:496px;
  top: 254px;
  left:954px;
}

#right h3, #left h3 {
  color: var(--text);
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  border-style: none none dotted none; 
  padding-bottom: 5px;
}

#right ul, #left ul {
  margin-top: 3px;
  margin-bottom: 3px; 
  padding-left: 30px;
}

#right p, #left p, #right li, #left li {
  color: var(--accent);
  text-align: left;
  font-size: 16px;
}

#footer {
  position: absolute;
  width: 474px;
  height: 36px;
  top: 791px;
  left: 388px;
}

#ringText {
  color: var(--accent);
  line-height:29px;
  position: absolute;
  width:242px;
  height: 29px;
  top: 0px;
  left:116px;
  margin-top:0px;
  margin-bottom:0px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--extra);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

a:active {
  text-decoration: none;
  color: var(--extra);
}

  
  
  