:root,[data-theme="Green"] {
  --bg: rgb(131, 146, 116);
  --bgimg: url("../images/bg_1.png");
  --layout: url("../images/frame2.png");
  --title: rgb(206, 208, 185);
  --text: rgb(87, 100, 73);
  --extra: rgb(105, 121, 89);
  
}

@font-face{
  font-family: 'monocraft';
  src: url(../fonts/Monocraft.ttf);
}

* {
  font-family:'monocraft', verdana, sans-serif;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  scrollbar-width: thin;
  scrollbar-color: var(--text) var(--extra);
}

body {
  margin-left: 45px;
  margin-right: 45px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title);
  text-align: center;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  line-height:1.5em;
}

h2 {
  font-size: 1.3em;
  line-height:1.3em;
}

h3 {
  font-size: 1.17em;
  line-height:1.17em;
}

h4 {
  font-size: 1.17em;
  line-height:1.17em;
}

p, li {
  color: var(--text);
  font-weight:normal;
  text-align: left;
}

th {
  text-align: center;
  color: var(--title);
  border-color: var(--title);
  border-style: dotted;
}

td {
  text-align: center;
  color: var(--text);
  border-color: var(--title);
  border-style: dotted;
}

#fTable td {
  width: 150px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.framedPhoto {
  border-width:1.5px;
  border-style: dotted;
  border-color: var(--title);
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
