:root,[data-theme="Green"] {
  --bg: rgb(131, 146, 116);
  --bgimg: url("../images/bg_1.png");
  --layout: url("../images/frame2.png");
  --title: rgb(206, 208, 185);
  --text: rgb(87, 100, 73);
  --extra: rgb(105, 121, 89);
  
}

* {
  font-family:'monocraft', verdana, sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

h1, h2, h3 {
  color: var(--title);
  text-align: center;
  font-weight: normal;
}

p, li {
  color: var(--text);
  font-weight:normal;
}

#shellPic {
  border-style: dotted;
  border-color: var(--title);
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


@font-face{
  font-family: 'monocraft';
  src: url(../fonts/Monocraft.ttf);
}