:root,[data-theme="Green"] {
  --bg: rgb(131, 146, 116);
  --bgimg: url("../images/bg_1.png");
  --layout: url("../images/frame2.png");
  --text: rgb(206, 208, 185);
  --accent: rgb(105, 121, 89);
  --extra: rgb(87, 100, 73);
}

* {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  scrollbar-width: thin;
  scrollbar-color: var(--bg) var(--accent);
  font-family:'monocraft', verdana, sans-serif;
}

h1, h2, h3, p, li {
  color: var(--text);
}

p, li {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: var(--text);
}

a:visited {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

a:active {
  text-decoration: none;
  color: var(--extra);
}

@font-face{
  font-family: 'monocraft';
  src: url(../fonts/Monocraft.ttf);
}

.navTitle {
  text-align: center;
}

.index{
  position: relative;
  background-color: var(--bg);
  background-image: var(--bgimg);
}

.test{
  background-color: none;
}

.layout{
  background:var(--layout);
  background-repeat:no-repeat;
  width:1250px;
  height:1000px;
  margin:10px auto;
  overflow:hidden;
  text-align: center;
}

.marquee {
  color: var(--accent);
  position: relative;
  width: 428px;
  top: 222px;
  left: 412px;
}

.banner {
  color: var(--accent);
}


#mainframe {
  position:relative;
  top:230px;
  left:0.5px;
}

#leftTit {
  position: relative;
  text-align: center;
  top: -313px;
  left: 134px;
  width: 162px;
}

#rightTit {
  position: relative;
  text-align: center;
  top: -352px;
  left: 954px;
  width: 162px;
}

nav {
  text-align:left;
  position: relative;
  top: -255px;
  left: 954px;
  width: 162px;
}


